body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: white;
  padding: 60px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 10px;
}

h1 {
  font-size: 36px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-family: 12px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin: 50px 0;
}
